* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka";
}

.container {
    width: 70%;
    height: 600px;
    margin: 0 auto;
}

.team-introduction {
    text-align: center;
}

.title , .description {
    padding: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: rgb(239, 52, 152);
}


.bio {
    line-height: 25px;
}

.name {
    font-weight: bolder;
}

.job , a {
    font-size: 15px;
}

.team-cards {
    margin-left: 25px;
}

.team-cards::after {
    content: "";
    display: table;
    clear: both;
}

.card1 {
    width: 312px;
    float: left;
    background-color: black;
    margin: 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.card1::after {
    content: "";
    display: table;
    clear: both;
}

.pic1 {
    background-image: url(../assets/img/male1.png);
    float: left
}

.pic2 {
    background-image: url(../assets/img/female1.png);
    float: left
}

.pic3 {
    background-image: url(../assets/img/male2.png);
    float: left
}

.pic4 {
    background-image: url(../assets/img/female2.png);
    float: left
}

.pic5 {
    background-image: url(../assets/img/male3.png);
    float: left
}

.pic6 {
    background-image: url(../assets/img/female3.png);
    float: left
}

.mod {
    background-size: contain;
    width: 100px;
    height: 100px;
}

.bio {
    float: left;
    margin: 10px;
}

.name , .job {
    color: white;
}

a {
    text-decoration: none;
    color: rgb(15, 207, 207);
}
